.nav-pills .nav-link {
    background-color: none!important;
    color: black!important;
  }
  
  .nav-pills .nav-link.active {
    background-color: white!important;
    color:#1268b3!important;
  }
  